html{
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

h2 {
    font-size: 1.7rem;
    font-weight: bold;
    color: #399bd1;
}

h3 {
    font-size: 1.3rem;
    font-weight: bold;
}

.navbar {
    font-size: 1.1rem;
    font-weight: 600;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover {
    background-color: inherit;
    color: #399bd1;
}

.active{}/*overridse*/

.jumbotron {
    height: 44rem;
    padding-top: 10rem;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.jumbotron h1 {
    font-family: "Monoton", sans-serif;
    font-size: 7.1rem;
}

.jumbotron p {
    max-width: 51.3rem;
    margin: auto;
}

.background-bike{
  background-image: url('../images/jumbotron-bike.jpg');
}
.background-beer{
  background-image: url('../images/jumbotron-beer.jpg');
}
.background-flowers{
  background-image: url('../images/jumbotron-flowers.jpg');
}
.background-duffel{
  background-image: url('../images/jumbotron-duffel.jpg');
}

.relative-wrapper {
    position: relative;
    top: -16rem;
    width: 100%;
    text-align: center;
}

.btn-primary {
    width: 160px;
    padding: 1.3rem 0;
    border: 0;
    margin-top: 2.8rem;
    background-color: #399bd1;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    transition: .5s box-shadow;
}

.img-container{
  overflow: hidden
}

.img-container img{
  opacity: 0.7;
  width: 100%;
  vertical-align: middle;
}

.img-container img:hover{
  opacity: 0.9;
  transform: scale(1.3, 1.3);
  transition: transform .5s, opacity .5s;
  transition: transform .5s, transform .5s;
}

.featured-project .image-container {
    height: 19rem;
    margin-top: 20px;
}

.featured-project {
    margin-top: -7rem;
}

.categories h3 {
    color: #399bd1;
}

.projects{
  margin-bottom: 5.2rem;
}

.help {
    padding: 5.2rem 0;
    background-color: #f3f3f3;
    text-align: center;
}

.help strong {
    display: inline-block;
    margin-bottom: 1.4rem;
    font-size: 2.5rem;
    font-weight: bold;
}

.help p {
    max-width: 42rem;
    margin: auto;
}

@media only screen and (max-width: 599px) {/*for phone only*/

}

@media only screen and (max-width: 899px) {

}

@media only screen and (min-width: 900px){
}
